/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto+Mono:ital,wght@0,100;1,300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;1,200&family=Caveat&family=Josefin+Sans:wght@100;600&family=Kanit:wght@100&family=Playfair+Display:wght@700;900&family=Roboto+Mono:ital,wght@0,100;1,300&family=Tilt+Neon&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ece8e8;
}

body {
    background-image: url('https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: whitesmoke;
    height: 100vh;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin: 0; /* Убрать внешний отступ */
    overflow: hidden;
    overflow-y: auto; /* Add overflow-y to make it scrollable */
}

html {
    padding: 0; /* Убрать внутренний отступ */
}

.after-header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh; /* Set the minimum height to fill the viewport */
    width: 100%;
    height: auto; /* Remove fixed height */
    margin-top: 270px; /* Add some margin to separate it from the content */
    padding-top: 0; /* Add some padding at the bottom to create space */


}

.content {
    font-size: 24px;
    margin-top: 10px;
    box-sizing: border-box;
}
.content h2 {
    color: rgb(185, 157, 117); /* Gold color */
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 16.8px;
    letter-spacing: 1.4px;
    line-height: 16.8px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 324.788px;
    -webkit-font-smoothing: antialiased;
}

.content p {
    color: black; /* Black color for the p element */
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 16.8px;
    letter-spacing: 1.4px;
    line-height: 16.8px;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 324.788px;
    -webkit-font-smoothing: antialiased;
}


.horizontal-line {
    border: 0.5px solid #aba8a8;
    margin: 40px 0 20px 80px;
    width: 1280px;
}

.logo{
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Young Serif', serif;
    color: #111111;

}

.menu {
    float: left;
    list-style: none;
}

.menu li {
    display: inline;
    margin-left: 70px;
    cursor: pointer;
    transition: opacity 500ms;
}

.menu li:hover {
   opacity: 0.5;
}


.stay {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    /* top: 300px; */
    /* margin: 40px 100px 50px 600px; */
    color: #ece8e8;
}


.mobile_btn {
    display: none;
}

/* CSS for Navigation Bar */
.navigation-links {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    margin: 0px 10px; /* Adjust margin as needed for spacing */
}


.navigation-links a {
    color: white; /* Set the default color to white */
    font-size: 18px;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation-links a:hover {
    color: black; /* Change the color to black on hover */
}

.home-page {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.home-page header {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.home-page h1 {
    font-size: 36px;
    margin: 10px 0;
    font-family: "Marcellus", serif;
}

.home-page p {
    font-size: 18px;
    margin: 10px 0;
    font-family: "Marcellus", serif;
}



.button-container {
    position: absolute;
    top: 90px; /* Adjust the top position as needed */
    right: 80px; /* Adjust the right position as needed */
    display: flex;
    justify-content: flex-end;
}

/* CSS for Login and Logout Buttons */
.login-button, .logout-button {
    background-color: transparent;
    color: #111111; /* Text color */
    padding: 6px 9px; /* Padding for the button */
    border: 2px solid #111111; /* Button border */
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Adjust margin as needed */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold text */
    font-family: 'Playfair Display', serif;
}

.login-button:hover, .logout-button:hover {
    background-color: #111111; /* Change the background color on hover */
    color: #ffffff; /* Change text color on hover */
}
.image-slider {
    text-align: center;
    padding: 20px;
}

.image-slider img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    border: 5px solid white; /* Add a border to the images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the images */
}
.image-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Hide overflow content if necessary */
}

.slider-control {
    font-size: 2rem;
    cursor: pointer;
    color: black;
    margin:19px
}

.slider-control.prev {
    color: black;
}

.slider-control.next {
    color: black;
}
/* CSS for the Footer */
.footer {
    background-color: #111111;
    color: #ffffff;
    padding: 50px 10px 20px 40px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif; /* Match the font-family */
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-text {
    flex-basis: 40%;
}

.footer-text h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-text p {
    font-size: 16px;
    line-height: 1.3;
}

.footer-contact {
    flex-basis: 25%;
}

.footer-contact h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-contact p {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-contact a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-newsletter {
    flex-basis: 20%;
    margin-right: 70px;
}
.footer-newsletter label{
    margin-top: 10px;
}

.footer-newsletter h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.footer-newsletter input[type="text"] {
    background: transparent;
    width: 60%;
    padding: 10px;
    color: #fff;
    margin-bottom: 15px;
    border: 0.8px solid white;
    font-family: 'Josefin Sans', sans-serif; /* Match the font-family */
}
.footer-newsletter input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.footer-newsletter button {
    background-color: #333a3a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif; /* Match the font-family */
}

.footer-newsletter button:hover {
    background-color: #e2eaf3;
}

.footer-legal {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
}

.footer-legal label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.footer-legal input[type="checkbox"] {
    margin-right: 10px;
}

.footer-social {
    flex-basis: 100%;
    margin-top: 20px;
}

.footer-social h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social li {
    margin-bottom: 15px;
}

/* Additional styles can be added as needed */



@media (max-width: 960px) {
    .mobile_btn {
        display: block;
        position: fixed;
        left: 30px;
        top: 150px;
        cursor: pointer;
        z-index: 10;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 500px;
        height: 100vh;
        background-color: #183048;
        z-index: 10;
        transition: right 1s;

    }
    .menu li {
        display: inline;
        margin-left: 200px;
        margin-top: 30px;
        font-size: 30px;
        cursor: pointer;
        transition: opacity 500ms;
    }
    .active {
        left: 0;
    }

}


