/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Roboto+Mono:ital,wght@0,100;1,300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;1,200&family=Caveat&family=Josefin+Sans:wght@100;600&family=Kanit:wght@100&family=Playfair+Display:wght@700;900&family=Roboto+Mono:ital,wght@0,100;1,300&family=Tilt+Neon&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ece8e8;
}

body {
    background-image: url('https://images.unsplash.com/photo-1596394516093-501ba68a0ba6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: whitesmoke;
    height: 100vh;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin: 0; /* Убрать внешний отступ */
    overflow: hidden;
    overflow-y: auto; /* Add overflow-y to make it scrollable */
}
.logout-button{
    width:200px;
    height: 50px;
    margin-left: 1200px;
}
html {
    padding: 0; /* Убрать внутренний отступ */
}

.after-header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh; /* Set the minimum height to fill the viewport */
    width: 100%;
    height: auto; /* Remove fixed height */
    margin-top: 270px; /* Add some margin to separate it from the content */
    padding-top: 0; /* Add some padding at the bottom to create space */


}
/* Add this CSS to style the contact information */
.contact-info {
    background: transparent; /* Set the background to transparent */
    color: #ffffff; /* Text color */
    display: flex; /* Display items in one row */
    justify-content: space-between; /* Spread items evenly in the row */
    padding: 20px 0 0 0 ;
    font-size: 14px;
}

.contact-info p {
    margin: 2px 50px; /* Adjust margins for spacing */
}

.contact-info a {
    color: #ffffff; /* Link color */
    text-decoration: none;
}


.content {
    font-size: 24px;
    margin-top: 10px;
    box-sizing: border-box;
}
.content h2 {
    color: rgb(185, 157, 117); /* Gold color */
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 16.8px;
    letter-spacing: 1.4px;
    line-height: 16.8px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 324.788px;
    -webkit-font-smoothing: antialiased;
}

.content p {
    color: black; /* Black color for the p element */
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 16.8px;
    letter-spacing: 1.4px;
    line-height: 16.8px;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 324.788px;
    -webkit-font-smoothing: antialiased;
}


.horizontal-line {
    border: 0.5px solid #aba8a8;
    margin: 10px 0 20px 80px;
    width: 1280px;
}

.logo{
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Young Serif', serif;
    color: #111111;

}
.menu {
    float: left;
    list-style: none;
}

.menu li {
    display: inline;
    margin-left: 70px;
    cursor: pointer;
    transition: opacity 500ms;
}

.menu li:hover {
   opacity: 0.5;
}


.stay {
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 20px 80px; /* Add padding to center the content vertically */
    margin-bottom: 50px;
}

.stay li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-right: 30px;
    font-size: 15px;

}

.icon {
    display: flex;
    margin-top: 10px;
}

.icon img {
    margin-right: 6px;
}




.room-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.room-card {
    width: calc(50% - 20px); /* Распределение по двум столбцам с отступами */
    margin-bottom: 40px;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.room-image img {
    width: 100%;
    height: auto;
}

.room-details {
    padding: 10px;
    color: #333632;
    /* background-color: rgba(255, 255, 255, 0.9); */
    font-family: "Jost", sans-serif;
}

.room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Marcellus", serif;
    color: #1A1B1A;
}

.room-header h4 {
    margin: 0;
    font-size: 24px;
    color: #333632;
}

.price {
    font-size: 16px;
    color: #e97735;
}

.room-size {
    font-size: 16px;
    margin-top: 10px;
}

.golden {
    color: #B99D75;
}

.bottom {
    display: flex;
    align-items: center;
    font-size: 28px;
    padding: 7px 0;
    /* text-decoration: underline; */
    cursor: pointer;
}

.bottom h6{
    color: #333632;
}

.next {
    padding-left: 10px;
    padding-top: 3px;
}

.mobile_btn {
    display: none;
}

/* CSS for Navigation Bar */
.navigation-links {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    margin: 0px 10px; /* Adjust margin as needed for spacing */
}


.navigation-links a {
    color: white; /* Set the default color to white */
    font-size: 18px;
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation-links a:hover {
    color: black; /* Change the color to black on hover */
}

.home-page {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.home-page header {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.home-page h1 {
    font-size: 36px;
    margin: 10px 0;
    font-family: "Marcellus", serif;
}

.home-page p {
    font-size: 18px;
    margin: 10px 0;
    font-family: "Marcellus", serif;
}



.button-container {
    position: absolute;
    top: 90px; /* Adjust the top position as needed */
    right: 80px; /* Adjust the right position as needed */
    display: flex;
    justify-content: flex-end;
}

/* CSS for Login and Logout Buttons */
.login-button, .logout-button {
    background-color: transparent;
    color: #111111; /* Text color */
    padding: 3px 9px; /* Padding for the button */
    border: 2px solid #111111; /* Button border */
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Adjust margin as needed */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold text */
    font-family: 'Playfair Display', serif;
}

.login-button:hover, .logout-button:hover {
    background-color: #111111; /* Change the background color on hover */
    color: #ffffff; /* Change text color on hover */
}
.image-slider {
    text-align: center;
}

.image-slider img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    border: 5px solid white; /* Add a border to the images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the images */
}
.image-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Hide overflow content if necessary */
}

.slider-control {
    font-size: 2rem;
    cursor: pointer;
    color: black;
    margin:19px
}

.slider-control.prev {
    color: black;
}

.slider-control.next {
    color: black;
}
.geolocation{
    color:black;
    font-size: 20px;
}


.contact-form {
    flex: 1; /* Take up remaining space */
    padding: 10px 40px 80px 500px;
    margin-left: 20px;
    background: none; /* Remove background color */
    border: none; /* Remove the border */
    width: 30%;
}

.contact-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Add a simple border for input elements */
    width: 90%;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
    margin-left: 27px;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-section {
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #000; /* Black color */
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    font-size: 15px;
    color: #000;
    margin-top: 10px;
    text-align: center;
}
.async{
    flex: 1;
}
.content {
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.contact-form-content {
    display: flex; /* Display children side by side */
    align-items: center; /* Vertically center content */
}

.contact-form-image {
    padding: 2px; /* Adjust the spacing as needed */
    margin-left: 80px;

}

.contact-form-fields {
    flex: 1; /* Take up 50% of the width */
    padding: 10px; /* Adjust the spacing as needed */
}

.contact-form-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
}

    /* CSS for the Footer */
.footer {
    background-color: #111111;
    color: #ffffff;
    padding: 50px 10px 20px 35px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif; /* Match the font-family */
    bottom: 0;
    left: 0;
    width: 100%;
}


.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    flex-basis: 33%;
}

.footer-text h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-text p {
    font-size: 16px;
    line-height: 1.3;
}

.footer-contact {
    flex-basis: 25%;
}

.footer-contact h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-contact p {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-contact a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-newsletter {
    flex-basis: 20%;
    margin-right: 90px;
}
.footer-newsletter label{
    margin-top: 10px;
}

.footer-newsletter h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.footer-newsletter input[type="text"] {
    background: transparent;
    width: 60%;
    padding: 10px;
    color: #fff;
    margin-bottom: 15px;
    border: 0.8px solid white;
    font-family: 'Josefin Sans', sans-serif; /* Match the font-family */
}
.footer-newsletter input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.footer-newsletter button {
    background-color: #0f1010;
    color: #e2eaf3;
    border: none;
    margin-top: 10px;
    width: 70%;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif; /* Match the font-family */
}

.footer-newsletter button:hover {
    background-color: #333a3a;
}


.footer-legal {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}


.footer-social {
    flex-basis: 100%;
    margin-top: 20px;
}

.footer-social h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social li {
    margin-bottom: 12px;
}

/* Additional styles can be added as needed */
/* Add a background image for the "About" page */
.about {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 50px 0; /* Add padding to center the content vertically */
    text-align: center; /* Center the text horizontally */
    flex: 1;
}
.about-container {
    max-width: 800px;
    margin: 90px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
    text-align: center; /* Center the text within the container */
}

.about h2 {
    font-size: 36px;
    color: #3e4e55; /* Dark gray color */
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about p {
    font-size: 18px;
    color: #333; /* Slightly darker gray color */
    font-family: 'Roboto Mono', monospace;
    margin: 20px 0;
    line-height: 1.6;
}

/* Define styles for the video container */
.video-container {
    text-align: center;
    margin-top: 240px;
    margin-bottom: 0;
}


.video-container iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 0;
}

.stay {
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 50px 80px; /* Add padding to center the content vertically */
    margin-bottom: 50px;
    margin-top: 200px;
    flex: 1;
}

.stay li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-right: 30px;
    font-size: 15px;

}

.icon {
    display: flex;
    margin-top: 10px;
}

.icon img {
    margin-right: 6px;
}

.words {
    width: 100%;
    height: 450px;
    font-size: 40px;
    text-align: center;
    font-family: "Marcellus", sans-serif;
    margin-bottom: 60px;
}



.room-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.room-card {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.room-image img {
    width: 100%;
    height: auto;
}

.room-details {
    padding: 10px;
    color: #333632;
    /* background-color: rgba(255, 255, 255, 0.9); */
    font-family: "Jost", sans-serif;
}

.room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Marcellus", serif;
}

.room-header h4 {
    margin: 0;
    font-size: 24px;
    color: #333632;
}

.price {
    font-size: 16px;
    color: #e97735;
}

.room-size {
    font-size: 16px;
    margin-top: 10px;
}

.golden {
    color: #B99D75;
}

.bottom {
    display: flex;
    align-items: center;
    font-size: 28px;
    padding: 7px 0;
    /* text-decoration: underline; */
    cursor: pointer;
}

.bottom h6{
    color: #333632;
}
.next {
    padding-left: 10px;
    padding-top: 3px;
}

button {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}
@media (max-width: 960px) {
    .mobile_btn {
        display: block;
        position: fixed;
        left: 30px;
        top: 150px;
        cursor: pointer;
        z-index: 10;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 500px;
        height: 100vh;
        background-color: #183048;
        z-index: 10;
        transition: right 1s;

    }
    .menu li {
        display: inline;
        margin-left: 200px;
        margin-top: 30px;
        font-size: 30px;
        cursor: pointer;
        transition: opacity 500ms;
    }
    .active {
        left: 0;
    }
}
/* ReservationForm.css */
.success-message {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #338a44; /* Text color */
    border: 2px solid #338045; /* Border around the message */
    border-radius: 5px;
    padding: 6px 6px 6px 6px ;
    text-align: center;
    margin-top: 20px;
    width: 90%;
}

.success-message::before {
    content: "✔"; /* Checkmark symbol before the message */
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}



.reservation-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255); /* Set the form background color with opacity */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 100px;
    width: 87%;
}

.form-group.row {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    align-items: center;
}

.col {
    flex:1;
}

label {
    font-weight: bold;
    display: flex;
    text-align: left;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding-right: 100px;
    width: 80%;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    color: #333;
    margin-top: 5px;
}

.button-container {
    display: flex;
    align-items: flex-end;
}

.but {
    background-color: rgb(185, 157, 117);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 13%;
    margin-left: 20px;
}

.but:hover {
    background-color: #0056b3;
}

.date-picker {
    display: flex;
    justify-content: space-around;
    width: 78%;
    margin: 20px auto;
}

.date-picker form {
    display: flex;
    align-items: center;
}

.date-picker input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.date-picker h3{
    color: #333a3a;
}







